<section data-ng-controller="HomeController" data-ng-init="find()">
	Hello {{employee.n['given-name']}}
	
	<form>
		<input ng-model='hourName'>
		<button ng-click="createHour(newHour)">Add</button>
	</form>
	<br>
	<form><input ng-model="person">
		<!--<button ng-click="loadPerson(person)">Load Person</button>-->
	</form>
	Your time slot is {{timeSlot | timeSlotDisplay }}
	<div ng-repeat="hour in hours">
		<!--{{hour}}-->
		<div class='col-lg-4'>
			<!--<div class="col-lg-4 col-lg-offset-4">-->
				<div style="margin-top:20px;margin-bottom:5px" class="alert alert-success" role="alert"><h2>{{hour.name | hourDisplay}}</h2></div>
				<div ng-repeat="slot in hour.slots">
					<button class="btn" 
						ng-class="{ true: 'btn-primary', false: 'btn-danger disabled' }[(8 - x.people.length) > 0]" 
						style="margin-bottom: 2px;width:100%" 
						ng-click="assignSlot(person,hour.name,slot.name)">{{hour.name}}:{{slot.name}} - Available slots {{8 - slot.people.length}}</button>
				</div>
			<!--</div>-->
		</div>
		
		
			
	</div>
</section>
